<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @lending.book %>
</p>

<p>
  <strong>Reader:</strong>
  <%= @lending.reader %>
</p>

<p>
  <strong>Borrow date:</strong>
  <%= @lending.borrow_date %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @lending.appointment_date %>
</p>

<p>
  <strong>Pay date:</strong>
  <%= @lending.pay_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lending.description %>
</p>

<%= link_to 'Edit', edit_lending_path(@lending) %> |
<%= link_to 'Back', lendings_path %>
